<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="MainStr" connectionString="server=192.168.1.17,1433;uid=sa;pwd=passw@rd1234;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
