<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="server=ChamsD\SQLSERVER;uid=sa;pwd=admin1234;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
