<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="server=DESKTOP-R17FB4F;uid=sa;pwd=;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    <add name="FourStr" connectionString="server=DESKTOP-A2PML1F\SQLEXPRESS;uid=CHAMSD;pwd=;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    <add name="SecondStr" connectionString="server=192.168.1.30,1435;uid=sa;pwd=p455word;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="ThreStr" connectionString="server=192.168.1.205,1434;uid=sa;pwd=passw@rd1234;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="MainStr" connectionString="server=192.168.1.17,1433;uid=sa;pwd=passw@rd1234;database=DataDBENT;max pool size=30000;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
