.nav-link{
    padding-left: 0; padding-right: 0;
}
.custom-i{
    background: url("../assets/img/contract.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    color: transparent;
}
.custom-i-carduser_add {
    background: url("../assets/img/new-card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    color: transparent;
}