@page
@model NetAdminLte.Models.DashboardIndexModel
@{
}
<div class="container-fluid">
    <h3>Dashboard</h3>
    <div class="btn-group">
        <button class="btn btn-primary" disabled>
            <i class="custom-i" style="width: 100px;">B</i>
            <label>Summary</label>
        </button>
        <button class="btn btn-primary" disabled>
            <i class="fas fa-calendar-alt"></i>
            <label>Calendar</label>
        </button>
        <button class="btn btn-primary" disabled>
            <i class="far fa-newspaper"></i>
            <label>Latest News</label>
        </button>
        <button class="btn btn-primary">
            <i class="custom-i-carduser_add">B</i>
            <label>Card User</label>
        </button>
        <button class="btn btn-primary" >
            <i class="fas fa-business-time"></i>
            <label>Temporary Card</label>
        </button>
        <button class="btn btn-primary" >
            <i class="fas fa-business-time"></i>
            <label>Roll Card Report</label>
        </button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header no-pad">
                    <h3 style="custom-h3">Welcome !</h3>
                </div>
                <div class="card-body"></div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
    </div>
</div>